.home{
    display: flex;
    justify-content: center;
    padding: 2.5rem 0;
}

.users-table{
    width: 80%;
    border-collapse: collapse;
}

.users-table tr{
    border-bottom: 2px solid #ccc;
}

.users-table tr:last-child{
    border-bottom: none;
}

thead th{
    padding: 1rem;
    border-bottom: 2px solid #ccc;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
    background-color: #eee;
}